<form action="<%= @route %>" method="post">
  <% unless @goal.id.nil? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <%= auth_token %>

  <label>
    Title
    <input type="text" name="goal[title]" value="<%= @goal.title %>">
  </label>

  <label>
    Details
    <textarea name="goal[details]" rows="8" cols="40"><%= @goal.details %></textarea>
  </label>

  <label>
    Private?
    <input type="checkbox" name="goal[private]" value="true"<%= "checked" if @goal.private %>>
  </label>

  <label>
    Completed?
    <input type="checkbox" name="goal[completed]" value="true"<%= "checked" if @goal.completed %>>
  </label>

  <% submit_text = @goal.id.nil? ? "Create Goal" : "Edit Goal" %>
  <input type="submit" value="<%= submit_text %>" >

</form>
